.screen-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--horizontal-space);
    margin-top: 20px;
    margin-bottom: 20px;
}
.screen-header__title{
    font-size: 24px;
    font-weight: 600;
}
.screen-header__icons span{
    margin-left: 20px;
}
.main__list-header a,
.main__list-header-freinds a
:hover{
    cursor: pointer;
}

