<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <title>Find - Kokoa Talk</title>
</head>
<body>
    <div class="status-bar">
        <div class="status-bar__column">
            <span>No Service</span>
            <i class="fas fa-wifi"></i>
        </div>
        <div class="status-bar__column">
            <span>05:11</span>
        </div>
        <div class="status-bar__column">
            <span>100%</span>
            <i class="fas fa-battery-full"></i>
            <i class="fas fa-bolt"></i>
        </div>
    </div>
    <header class="screen-header">
        <h1 class="screen-header__title">Find</h1>
        <div class="screen-header__icons">
            <span><i class="far fa-comment-dots fa-lg"></i></span>
            <span><i class="fas fa-cog fa-lg"></i></span>
        </div>
    </header>
    <main class="main-screen">
        <div class="icon-row">
            <div class="icon-row__icon">
                <i class="fas fa-qrcode"></i>
                <span>QR Code</span>
            </div>
            <div class="icon-row__icon">
                <i class="far fa-address-book"></i>
                <span>Add by Contacts</span>
            </div>
            <div class="icon-row__icon">
                <i class="fas fa-fingerprint"></i>
                <span>Add by ID</span>
            </div>
            <div class="icon-row__icon">
                <i class="far fa-envelope"></i>
                <span>Invite</span>
            </div>
        </div>
        <div class="recomemded-friends">
            <h6 class="recomemded-friends__title">Recommended Friends</h6>
            <span>You have no recommended friends</span>
        </div>
        <div class="open-chat">
            <div class="open-chat__header">
                <h4>Open Chat</h4>
                <span>Go to Openchat Home</span>
                <i class="fas fa-chevron-right fa-xs"></i>
            </div>
        </div>
        <div class="open-post">
            <div class="open-post__column">
                <h5 class="open-post__title">#BTS</h5>
                <h6 class="open-post__hashtag">#bts#army#friends</h6>
                <div class="open-post__members">
                    <img src="https://pds.joongang.co.kr/news/component/htmlphoto_mmdata/201706/23/b71449f8-e830-45a0-bb4d-7b1a328e19f2.jpg" alt="">
                    <span class="open-post__member-count">901 members</span>
                    <div class="divider"></div>
                    <span class="open-post__member-status">Active</span>
                </div>
            </div>
            <div class="open-post__column">
                <div class="open-post__photo">
                    <img src="https://dimg.donga.com/wps/NEWS/IMAGE/2021/06/17/107477226.2.jpg" alt="">
                    <div class="opne-chat__heart-count fa-xs">
                        <i class="fas fa-heart"></i>
                        <span>326</span>
                    </div>
                </div>
            </div>
        </div>
    </main>

    <nav class="nav">
        <ul class="nav__list">
            <li class="nav__btn">
                <a class="nav__link" href="friends.html">
                    <i class="far fa-user fa-2x"></i>
                </a>
            </li>
            <li class="nav__btn">
                <a class="nav__link" href="chat-list.html">
                    <span class="badge nav__notification">1</span>
                    <i class="far fa-comment fa-2x"></i>
                </a>
            </li>
            <li class="nav__btn">
                <a class="nav__link" href="find.html">
                    <i class="fas fa-search fa-2x"></i>
                </a>
            </li>
            <li class="nav__btn">
                <a class="nav__link" href="more.html">
                    <span class="nav__noti"></span>
                    <i class="fas fa-ellipsis-h fa-2x"></i>
                </a>
            </li>
        </ul>
    </nav>
     
    <script src="https://kit.fontawesome.com/83c5bc5516.js" crossorigin="anonymous"></script>
</body>
</html>