<%- include('include/head.ejs')%>
    <title>Welcome to Kokoa Talk</title>
</head>
<body>
    <%- include('include/status_bar.ejs')%>
    <header class="welcome-header">
        <h1 class="welcome-header__title">Welcome to Kokoa Talk</h1>
        <p class="welcome-header__text">If you have a Kokoa Account, log in with your email or phone number</p>
    </header>

    <form id="login-form" action="/user/login" method="post">
        <input id= "userEmail" type="email" name ="userEmail" placeholder="kokoa@kokoa.com" required/>
        <input id= "userPw" type="password" name="userPw" placeholder="Password (4~12)" minlength="4" maxlength="12" required/>
        <input type="submit" value="Log In"/>
    </form>
    <div class="link-signUp"><a href="/user/signUp">Not a member yet?</a></div>    
<%- include('include/tail.ejs')%>
        
