<%- include('include/head.ejs')%>
    <title>Profile - Kokoa Talk</title>
</head>
<body id="profile-screen">
    <%- include('include/status_bar.ejs')%>
    <header class="screen-header">
        <div class="screen-header__icons__profile">
            <div class="icons__profile__left">            
                <a href="/friends"><i class="fas fa-times"></i></a>
            </div>
            <div class="icons__profile__right">
                <a><i class="fas fa-gift"></i></a>
                <a><i class="fas fa-music"></i></a>
                <a><i class="fas fa-cog"></i></a>
            </div>
        </div>
    </header>  
    <main class="profile__wrap">
        <div class="profile">
            <div class="profile-profileImg">
                <img>
            </div>
            <span class="profile-userNick">apple</span>
        </div>
        <div class="profile-icon__list">
            <div class="profile-icon__list">
                <i class="fas fa-comment"></i>
                <span class="profile-icon__name">My Chatroom</span>
            </div>
            <div class="profile-icon__list">
                <i class="fas fa-pencil-alt"></i>
                <span class="profile-icon__name">Edit Profile</span>
            </div>
            <div class="profile-icon__list">
                <i class="fas fa-quote-right"></i>
                <span class="profile-icon__name">KakaoStroy</span>
            </div>
            
        </div>
    </main>   
<%- include('include/tail.ejs')%>