<%- include('include/head.ejs')%>
    <title>Register - Kokoa Talk</title>
</head>
<body>
    <%- include('include/status_bar.ejs')%>
    <header class="welcome-header">
        <h1 class="welcome-header__title">Welcome to Kokoa Talk</h1>
    </header>
    <form id="register-form">
        <input type="text" placeholder="Email or phone number" required/>
        <input type="text" placeholder="Please enter the nickname you want to use" required/>
        <input type="password" placeholder="Password" required/>
        <input type="submit" value="Register" />
    </form> 
<%- include('include/tail.ejs')%>