<%- include('include/head.ejs')%>
    <title>Register - Kokoa Talk</title>
</head>
<body>
    <%- include('include/status_bar.ejs')%>
    <header class="welcome-header">
        <h1 class="welcome-header__title">Welcome to Kokoa Talk</h1>
    </header>
    <form id="register-form" action="/user/register" method="post">
        <input type="email" name="userEmail" placeholder="Email or phone number" required/>
        <input type="text" name="userNick" minlength="2" maxlength="8" 
               placeholder="Please enter the nickname you want to use (2~8)" required/>
        <input type="password" name="userPw" placeholder="Password" required/>
        <input type="submit" value="Register" />
    </form> 
<%- include('include/tail.ejs')%>