<%- include('include/head.ejs')%>
    <title>Profile - Kokoa Talk</title>
</head>
<body id="profile-screen">
    <%- include('include/status_bar.ejs')%>
    <header class="screen-header">
        <div class="screen-header__icons">
            <span><i class="fas fa-times fa-lg"></i></span>
            <span><i class="fas fa-gift fa-lg"></i></span>
            <span><i class="fas fa-music fa-lg"></i></span>
            <span><i class="fas fa-cog fa-lg"></i></span>
        </div>
    </header>  
    <main class="profile__wrap">
        <div class="profile">
            <div class="profile-profileImg">
                <img>
            </div>
            <span class="profile-userNick">apple</span>
        </div>
        <div class="profile-icon__list">
            <div class="profile-icon__list">
                <span class="profile-icon__name"></span>
            </div>
            <div class="profile-icon__list">
                <span class="profile-icon__name"></span>
            </div>
            <div class="profile-icon__list">
                <span class="profile-icon__name"></span>
            </div>
            
        </div>
    </main>   
<%- include('include/tail.ejs')%>