<nav class="nav">
    <ul class="nav__list">
        <li class="nav__btn">
            <a class="nav__link" href="friends.html">
                <i class="far fa-user fa-2x"></i>
            </a>
        </li>
        <li class="nav__btn">
            <a class="nav__link" href="chat-list.html">
                <span class="badge nav__notification">1</span>
                <i class="far fa-comment fa-2x"></i>
            </a>
        </li>
        <li class="nav__btn">
            <a class="nav__link" href="find.html">
                <i class="fas fa-search fa-2x"></i>
            </a>
        </li>
        <li class="nav__btn">
            <a class="nav__link" href="more.html">
                <span class="nav__noti"></span>
                <i class="fas fa-ellipsis-h fa-2x"></i>
            </a>
        </li>
    </ul>
</nav>