<div class="status-bar">
    <div class="status-bar__column">
        <span>No Service</span>
        <i class="fas fa-wifi"></i>
    </div>
    <div id="clock" class="status-bar__column">
        <span>05:11</span>
    </div>
    <div class="status-bar__column">
        <span>100%</span>
        <i class="fas fa-battery-full"></i>
        <i class="fas fa-bolt"></i>
    </div>
</div>