#profile-screen{
    background-color: #abc1d1;
    height: 100%;
}

.screen-header__icons__profile{
    display: flex;
    width: 100%;
    color: white;
}
.icons__profile__left{
    width: 50%;
}
.icons__profile__right {
    width: 50%;
    text-align: end;
}
.icons__profile__right i{
    padding: 0px 8px;
}
.screen-header__icons__profile a:hover,
.profile-icon__list:hover{
    cursor: pointer;
    color: var(--yellow);
}

.profile__wrap{
    position: fixed;
    bottom: 0;
    width: 100%;
    color: white;
}
.profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 33px 0px;
}
.profile-profileImg{
    background-color: whitesmoke;
    width: 140px;
    height:140px;
    border-radius: 50%;
    margin-bottom: 20px;
}

.profile-profileImg img{
    width: 100%;
}

.profile-icon__lists{
    display: flex;
    justify-content: center;
    padding: 35px 0px;
    border-top: 1px solid white;
}

.profile-icon__list{
    display: flex;
    flex-direction: column;
    width: 33%;
    text-align: center;
}
.profile-icon__list i{
    margin-bottom: 12px;
    font-size: 20px;
}